.Form button {
  padding: 0 1rem;
  margin-right: 10px;
}

.Form button:last-child {
  background-color: #e53935;
}
.Collection {
  margin: 0;
  width: 40%;
  min-width: 350px;
}
/* .UserDataItemText {
  display: inline-flex;
} */

.Collection i {
  cursor: pointer;
  color: coral;
}
.Collection i:hover {
  color: rgb(236, 58, 14);
  background-color: rgb(252, 252, 252);
}
.Collection a {
  top: 6px !important;
  right: 6px !important;
}

.UserAddItemText i {
  cursor: pointer;
}
.UserAddItemText i:hover {
  color: #2bbbad;
  background-color: rgb(252, 252, 252);
}
