.UserProfileContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UserProfileContent .UserDataItem {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.UserProfileContent .UserDataItem div {
  width: 100%;
}

.UserProfileContent li .Collection {
  margin: 0 auto;
  background-color: blueviolet;
}
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100px;
  border: 1px solid #d3d3d3;
  margin: 0 auto;
  width: 40%;
  min-width: 310px;
}

.Form .FormBtn {
  position: absolute;
  width: 250px;
  top: 50px;
  left: 55px;
  z-index: 500;
}
.Form button {
  padding: 0 1rem;
  margin-right: 10px;
}

.Form input.Input {
  width: 250px;
}

.Form button:last-child {
  background-color: #e53935;
}
.Collection {
  margin: 0;
  width: 40%;
  min-width: 310px;
}

.UserData {
  display: inline-flex;
  flex-direction: column;
}

.UserData img {
  width: 250px;
  height: 350px;
}

.Collection i {
  cursor: pointer;
  color: coral;
}
.Collection i:hover {
  color: rgb(236, 58, 14);
  background-color: rgb(252, 252, 252);
}
.Collection a {
  top: 6px !important;
  right: 6px !important;
}

.UserAddItemText {
  margin: 0 auto;
}

.UserAddItemText i {
  cursor: pointer;
}
.UserAddItemText i:hover {
  color: #2bbbad;
  background-color: rgb(252, 252, 252);
}
