.Account {
  display: flex;
  flex-direction: column;
}

.UserProfile {
  width: 50%;
}

.Account .UserDataList {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.Account .UserDataList img {
  width: 250px;
  height: 350px;
}

.AccountContainer {
  display: flex;
  flex-direction: row;
}
