.TrItem {
  transition: all 280ms ease-out;
}

.TrItem:hover:nth-child(2n) {
  cursor: pointer;
  background-color: #f0ffff;
}

.TrItem:hover:nth-child(2n + 1) {
  cursor: pointer;
  background-color: #d0d0d0;
  transition: all 280ms ease-out;
}
