.Cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.Cart .CartImage {
  width: 50px;
  height: 65px;
}

.Cart .CartTdIconItem {
  width: 50px;
}

.Cart .CartIncrease i {
  cursor: pointer;
  font-size: 30px;
}
.Cart .CartIncrease i:hover {
  color: #2bbbad;
}

.Cart .CartDecrease i {
  cursor: pointer;
  font-size: 30px;
}

.Cart .CartDecrease i:hover {
  color: #1d70cf;
}

.Cart .CartDelete i {
  cursor: pointer;
  padding: 5px 5px 14px 5px;
  font-size: 30px;
}

.Cart .CartDelete i:hover {
  color: #e22a2a;
}

.Cart .Price {
  padding: 5px;
}

.Cart .DiscountCont {
  display: flex;
}
.Cart .OldPrice {
  position: relative;
  padding: 5px 0;
  margin: 0 10px;
}
.Cart .OldPrice::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid #ff0000;
  color: #474747;
}

.Cart .Discount {
  background-color: #fff3b5;
  padding: 5px 10px;
  color: #ff0000;
}
