.StoreWrapper {
  background-color: #eceff1;
  position: relative;
}

.Products {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

.SearchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Products ul {
  max-width: 815px;
}

.Prodoct_Item {
  display: inline-flex;
  flex-direction: column;
  width: 250px;
  box-shadow: 0px 0px 12px 0px rgba(4, 8, 7, 0.59);
  margin: 5px;
  background-color: #fff;
}

.Prodoct_Item span {
  display: flex;
  justify-content: center;
}

.Prodoct_Item .Product_Image {
  margin: 0 auto;
  height: 250px;
  width: 200px;
}
.Prodoct_Item .CompareContainer {
  position: relative;
  height: 70px;
  display: flex;
  justify-content: flex-end;
}
.Prodoct_Item .CompareContainer .CompareItem {
  height: 50px;
  width: 50px;
  transition: all 300ms ease-out;
  position: absolute;
}

.Prodoct_Item .CompareContainer .CompareItem:hover {
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.Tags {
  position: fixed;
  top: 15%;
  left: 20px;
  width: 150px;
}
