.StoreWrapper {
  background-color: #eceff1;
  position: relative;
  min-height: 100vh;
  padding-top: 30px;
}

.Products {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

.SearchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.Products ul {
  max-width: 815px;
}

.Prodoct_Item {
  display: inline-flex;
  flex-direction: column;
  width: 250px;
  height: 420px;
  box-shadow: 0px 0px 12px 0px rgba(4, 8, 7, 0.59);
  margin: 5px;
  background-color: #fff;
  position: relative;
}

.Prodoct_Item span {
  display: flex;
  justify-content: center;
}

.Prodoct_Item .Product_Image {
  margin: 0 auto;
  height: 220px;
  width: 170px;
}
.Prodoct_Item .BtnContainer {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  bottom: 5px;
}
.Prodoct_Item .CompareContainer {
  position: relative;
  height: 36px;
  width: 50px;
  display: inline-flex;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  padding: 2px;
  border: 1px solid #afafaf93;
  border-radius: 3px;
  transition: all 500ms ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.Prodoct_Item .CompareContainer img {
  opacity: 0.5;
}
.Prodoct_Item .CompareContainer:hover img {
  opacity: 1;
}

.Prodoct_Item .CompareContainer:hover {
  border: 1px solid rgb(155, 88, 0);
}

.Prodoct_Item .CompareContainer .CompareItem {
  height: 70px;
  width: 70px;
  transition: all 300ms ease-out;
  position: absolute;
  top: -18px;
  right: -11px;
  transform: scale(0.86);
}

/* .Prodoct_Item .CompareContainer .CompareItem:hover {
  cursor: pointer;
  height: 60px;
  width: 60px;
} */

.Prodoct_Item .BtnBuy {
  display: inline-block;
  width: 70%;
  font-size: 12px;
}

.Prodoct_Item .BtnBuy:hover {
  background-color: #64dd17 !important;
}

.Prodoct_Item .BtnBuy i {
  transition: all 250ms ease-out;
}

.Prodoct_Item .BtnBuy:hover i {
  color: #000;
}

.Prodoct_Item .BtnJoin {
  background-color: #01579b !important;
}

.Prodoct_Item .BtnWait {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 70%;
  background-color: #fafafa !important;
}
.Prodoct_Item .BtnWait i {
  position: absolute;
  top: 0px;
  left: 11px;
  color: #000;
}

.Prodoct_Item .BtnOver {
  background-color: #d3d3d3 !important;
  font-size: 12px;
  position: relative;
  padding-left: 40px;
}

.Prodoct_Item .BtnOver i {
  position: absolute;
  top: 0px;
  left: 11px;
}

.Prodoct_Item .BtnWait span {
  position: absolute;
  top: 5px;
  left: 45px;
  line-height: 14px;
  color: #000;
}
.Prodoct_Item .Price {
  font-size: 18px;
  padding: 5px;
}

.Prodoct_Item .DiscountCont {
  display: flex;
  flex-direction: column;
}
.Prodoct_Item .OldPrice {
  position: relative;
}
.Prodoct_Item .OldPrice::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid #ff0000;
  color: #474747;
}

.Prodoct_Item .Discount {
  background-color: #fff3b5;
  padding: 5px 10px;
  color: #ff0000;
}

.Prodoct_Item .Descr {
  text-align: center;
  padding: 0 20px;
  font-size: 12px;
  overflow: hidden;
  height: 52px;
  line-height: 25px;
}

.Prodoct_Item .Descr p {
  margin: 0;
  font-weight: 500;
}

.Prodoct_Item .Descr:before {
  content: "";
  float: left;
  width: 5px;
  height: 52px;
}

.Prodoct_Item .Descr > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.Prodoct_Item .Descr:after {
  content: "\02026";
  box-sizing: content-box;
  float: right;
  position: relative;
  top: -28px;
  left: 95%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;
  text-align: right;
  background-size: 100% 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    white 50%,
    white
  );
}

.Prodoct_Item .Descr .Descr_In {
  display: inline-block;
}

.Tags {
  position: fixed;
  top: 15%;
  left: 20px;
  width: 150px;
}
