.Header {
  background-color: #2bbbad;
}

.Rigth {
  text-align: right !important;
}

.HeaderListItem {
  display: inline-flex;
}

.HeaderListItem .HeaderListNav {
  display: inline-flex;
}

.HeaderListItem .HeaderListNav i {
  margin-left: 5px;
}

.HeaderListItem .HeaderListNav:hover i {
  color: #313131;
}
