.PurchaseHistoryItem h2 {
  padding: 0 12px;
  text-align: center;
  font-size: 32px;
}

.Tbody tr td img {
  height: 120px;
  width: 80px;
}
.Price {
  text-align: center;
}
.Link {
  text-align: center;
}
.Link a {
  font-size: 16px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.Link a:hover {
  text-decoration: underline;
}
.NavLinks {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.NavLinks a {
  margin: 0 10px;
}

@media screen and (max-width: 700px) {
  .PurchaseHistoryItem h2 {
    font-size: 30px;
  }
}
