.ProductList {
  display: inline-flex;
  flex-direction: column;
}

/* .Tbody tr td img {
  height: 120px;
  width: 80px;
}
.Price {
  text-align: center;
}

.NavLinks {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.NavLinks a {
  margin: 0 10px;
} */

.TableList {
  margin: 0;
  padding: 0;
}

.TableImages {
  height: 150px;
}

.TableTags {
  background: rgb(133, 139, 139);
  color: aliceblue;
  padding: 2px 10px;
  margin: 0 2px;
  border-radius: 10px;
}
.TableItem {
  display: inline-flex;
  flex-direction: column;
}

.Table {
  table-layout: fixed;
}
.Table td {
  overflow: visible;
}
